.start-button {
  padding: 10px 42px;
  background-color: #ffffff;
  border-radius: 28px;
  font-weight: 800;
  font-family: inherit;
  font-size: 1.5rem;
  border-width: 0px;
  align-self: flex-start;
  text-transform: uppercase;
  transition: .5s;
  margin-top: 2rem;
  &:hover {
    color: forestgreen;
  }
}

